apiVersion: v1
kind: Namespace
metadata:
  name: victoria-metrics
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vm-single
  namespace: victoria-metrics
spec:
  interval: 1h
  chart:
    spec:
      chart: vm-single
      version: "0.7.3"
      sourceRef:
        kind: HelmRepository
        name: vm
        namespace: flux-system
  values:
    vmselect:
      enabled: false
    vminsert:
      enabled: false
    vmstorage:
      enabled: false
    vmsingle:
      enabled: true
      retentionPeriod: "30"
      storageDataPath: "/victoria-metrics-data"
      extraArgs:
        httpListenAddr: ":8428"
      persistence:
        enabled: true
        size: 20Gi
        storageClass: local-path
      resources:
        requests:
          cpu: "200m"
          memory: "512Mi"
        limits:
          cpu: "1000m"
          memory: "2Gi"
    ingress:
      enabled: false